<template>
  <div id="loadingWrap" :class="{'show': show}"></div>
</template>

<script>
export default {
  name: '',
  data () {
    return {
      show: false
    }
  }
}
</script>

<style lang='scss' scoped>
#loadingWrap{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 101%;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  z-index: 999;
  background: rgba(0, 0, 0, .5);
  &.show{
    left: 0;
    opacity: 1;
  }
  &::before{
    content: '';
    width: .426667rem /* 32/75 */;
    height: .426667rem /* 32/75 */;
    margin: -.213333rem /* 16/75 */ 0 0 -.213333rem /* 16/75 */;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-animation: loading linear 1s infinite;
    animation: loading linear 1s infinite;
    background: url('./loading.png') center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
}
@-webkit-keyframes loading {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
</style>
