<template>
  <div>
    <div class="tipsWrap" :class="{active: isShowTip}" @click="isShowTip = false">
      <div class="tipsMask"></div>
      <div class="tipsBox" :style="{top: tipTop + 'px', left: boxLeft, right: boxRight}">
        <div class="head">
          <div class="view" :style="{backgroundImage: 'url(' + (tipObj.imgBg || '') + ')'}">
            <span :style="{backgroundImage: 'url(' + (tipObj.img || '') + ')'}"></span>
            <span :style="{backgroundImage: 'url(' + (tipObj.imgChip || '') + ')'}" v-show="tipObj.imgChip"></span>
          </div>
          <h5 :class="'quality_' + tipObj.quality">{{ tipObj.name || '' }}</h5>
        </div>
        <p>{{ tipObj.desc || '' }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tips',
  computed: {
    // tipObj () {
    //   return this.$props.data
    // },
    boxLeft () {
      if (this.tipLeft > document.body.clientWidth / 2) {
        return 'auto'
      } else {
        return this.tipLeft + 'px'
      }
    },
    boxRight () {
      if (this.tipLeft < document.body.clientWidth / 2) {
        return 'auto'
      } else {
        return document.body.clientWidth - this.tipLeft + 'px'
      }
    }
  },
  data () {
    return {
      tipTop: 0,
      tipLeft: 0,
      isShowTip: false,
      tipObj: {
        imgBg: '',
        img: '',
        desc: '',
        name: ''
      }
    }
  }
}
</script>

<style lang='scss' scoped>
// tips 缩放文字
@mixin scaleText(){
  width: 150%;
  -webkit-transform: scale((10/15));
  transform: scale((10/15));
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.tipsWrap{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 101%;
  opacity: 0;
  z-index: 9999;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  &.active{
    left: 0;
    opacity: 1;
  }
  .tipsMask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
  }
  .tipsBox{
    width: 1.6rem /* 120/75 */;
    min-height: .8rem /* 60/75 */;
    padding: .053333rem /* 4/75 */ .026667rem /* 2/75 */;
    position: absolute;
    top: 1.093333rem /* 82/75 */;
    background-image: url('./bg_tips.png');
    background-size: 100% 100%;
    .head{
      height: .56rem /* 42/75 */;
      padding-left: .56rem /* 42/75 */;
      position: relative;
      h5{
        font-size: .16rem /* 12/75 */;
        @include textShadow();
        @include scaleText();
      }
      .view{
        width: .56rem /* 42/75 */;
        height: .56rem /* 42/75 */;
        position: absolute;
        top: 0;
        left: 0;
        background-size: 100%;
        span{
          width: 100%;
          height: 100%;
          display: block;
          background-size: 100%;
          -webkit-transform: scale(.8);
          transform: scale(.8);
        }
        span:nth-child(2){
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-size: 100%;
          -webkit-transform: scale(.9);
          transform: scale(.9);
        }
      }
    }
    p{
      font-size: .16rem /* 12/75 */;
      color: #7c7b7b;
      margin-bottom: -8%;
      @include scaleText();
    }
  }
}
</style>
