<template>
  <div id="app">
    <img style="transform: scale(.75);" src="./assets/img/logo.png">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
// html, body{
//   background: $colorBlack;
// }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #6786a6;
  margin-top: 60px;
}
</style>
